body {
  font-family: 'Helvetica Neue', 'Helvetica', sans-serif;
}

.socialmediaicons ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.socialmediaicons ul li {
  display: inline-block;
  margin-left: 5px;
}

.socialmediaicons ul li img {
  width: 30px;
  border-radius: 50%;
}
.open-popup{
  visibility: visible;
}
.socialmediaicons{
	text-align: center;
}

.containerpop{
  width: 50px;
  height: 50px;
  border: 2px;
  border-radius: 2px;
}